<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/public/stylesheets/visits/index.css">
<%- include('../partials/nav') %>

<main>
  <h1> Visit Summary </h1>
  <table id="list">
    <thead>
      <tr>
        <th>Date</th>
        <th>Office</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% visits.forEach(visit => { %>
          <tr>
            <td><%= visit.date %></td>
            <td><%= visit.office %> </td>
            <td><a href="/visits/<%= visit._id %>">Info</a></td>
            <td>
              <form action="/visits/<%= visit._id %>?_method=DELETE" method="POST">
                <button>X</button>
              </form>
            </td>
          </tr>
        <% }) %> 
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %> 