<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Visit Summary</h1>
  <% if (user) { %>
    <h2>Add a visit!</h2>
    <form action="/tacos" method="POST">
      <label>
        Name:
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Tasty?
        <input type="checkbox" name="tasty">
      </label>
      <button type="submit">Add visit</button>
    </form>
  <% } %>
  <h2>All the visits!</h2>
  <ul>
    <% visits.forEach(visit => { %>
      <li>
        visit 
        <a href="/visits/<%= visit._id %>"><%= visit.name %></a> 
        is <%= visit.tasty ? "tasty" : "not tasty"%></li>
    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>
