<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/public/stylesheets/visits/show.css">
<%- include('../partials/nav') %>

<main>
  <h1> Visit Info </h1>
  <section>
      <div>Date: <%= visit.date %></div>
      <div>Office: <%= visit.office %></div>
      <div>Diagnosis: <%= visit.diagnosis%></div>
      <a href="/visits/<%= visit._id %>/edit">
        <button>Edit Visit</button>
      </a>
  </section>
</main>

<%- include('../partials/footer') %> 